<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1571.vb_423c255d6d9">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2277.v00573e73ddf1">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>选择</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>选择</name>
          <description>ruoyi1 运行 open_ruoyi3.py，Run 运行 open_ruoyi4.py</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>ruoyi1</string>
              <string>Run</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>登陆</name>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>添加用户</name>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>修改用户</name>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4259.vf653c2b_8a_b_69">
    <script>pipeline {
    agent any
    parameters{
        choice(
            name: &apos;选择&apos;, 
            choices: [&apos;ruoyi1&apos;, &apos;Run&apos;], 
            description: &apos;ruoyi1 运行 open_ruoyi3.py，Run 运行 open_ruoyi4.py&apos;
        )
    }
    stages {
        stage(&apos;Run&apos;) {
            when { expression { params.选择 == &apos;Run&apos; } }  // 关键条件
            steps {
                bat &apos;C:\\Users\\31276\\AppData\\Local\\Programs\\Python\\Python38\\python.exe D:\\Git\\RuoYi\\ruoyi-test\\pythonProject2\\RuoYi\\open_ruoyi4.py&apos;
            }
        }
        stage(&apos;ruoyi1&apos;) {
            when { expression { params.选择 == &apos;ruoyi1&apos; } }  // 关键条件
            steps {
                bat &apos;C:\\Users\\31276\\AppData\\Local\\Programs\\Python\\Python38\\python.exe D:\\Git\\RuoYi\\ruoyi-test\\pythonProject2\\RuoYi\\open_ruoyi3.py&apos;
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>